﻿.event {
    background-color: $siteBackground;
    text-align:center;
    color: $siteColor;
    display: flex;
    flex-flow:row;
    @include respond-to("medium"){
            flex-flow: row;
         }
    flex-wrap: nowrap;
    justify-content:center;
    @include site-font;
    padding: 80px;
    .child{
        margin:5%;
        a {
            text-decoration: none;
            color: $siteColor;
            font-size: 3em;
        }
        p {
            padding:5px;
        }
    }
}

@media all and (max-width: 900px) {         //mixins WOULD NOT work like AT ALL EVER so here's my solution.
  .event{
      flex-flow: column;
  }
  .child a {
      font-size: 2em;
  }
}
