﻿%visuallyhidden{
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width:1px;
}

%clearfix:before,
%clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

%clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

%clearfix {
	*zoom: 1;
}