﻿footer{
    text-align: center;
    display: flex;
    flex-flow: row;
    flex-wrap:nowrap;
    justify-content:center;
    clear:both;
    nav{
        ul{
        li {
    margin-top: -6px;
    font-size:x-small;
    font:$siteFont;
    padding: 10px;
    list-style-type: none;
    display:inline-block;
   a {
        text-decoration:none;
        color:$bannerColor;
        a:hover{
            color: $primary-color;
        }
    }
      }
        }    
    }

}
