﻿/*.form{
    background-image:url("../../images/Mailing.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    margin-top:-2%;
    background-position:top;
    @include site-font;
    color: $siteColor;
    padding:20%;
    display:flex;
    flex-flow:column;
    justify-content:flex-end;
    font-size: 1.5em;
    .mailing {
        margin-left:20px;
    }
     label{
        @extend %visuallyhidden;
    }
}

@media all and (max-width: 900px) {     //mixins would not work, this is my solution
    .form {
        font-size: 1em;
    }
}*/

/*If you found this page, congratulations! You get to learn my secret: I didn't proof read any of these reflections. ;) */