﻿//edited
    //consolidated redundant attributes
    //centered all content (finally)
    //changed font size of header
    //added padding to .banner
    //added margin-top to button
    //changed background color to button
    //removed p
    //removed header
    //removed ampersand beside header, whose function messed up the CSS
    //changed background-position to top
        //fix image size to get rid of extra space at the top
    //added mixin logic
//name changed

.main {
    background-color: $siteBackground;
    align-content:center;
    text-align:center;
    & .banner{
        background-image:url("../images/Banner.jpg");
        background-size:cover;
        background-repeat:no-repeat;
        margin-top:-2%;
        background-position:top;
        @include site-font;
        color: $bannerColor;
        padding: 180px;
        @include respond-to("small"){
            padding: 20px;
        }
        h1{
            @include respond-to("small"){
                font-size: 4em;
            }
            @include respond-to("medium"){
                font-size: 5em;
            }
        }
        button{
            color: $siteColor;
            border:1px solid black;
            @include border-radius(7px);
            background-color:$siteBackground;
            margin-top:30px;
            &:hover{
                background-color: darken ($siteBackground, 10%)
            }
        }
    }
}