﻿$break-medium: 1500px;
$break-small: 400px;
$break-mobile: 155px;

@mixin respond-to($media){
    @if $media == "small" {
        @media only screen and (min-width: $break-small) { @content; }
    }
    @else if $media == "medium" {
        @media only screen and (min-width: $break-medium) { @content; }
    }
}

@mixin border-radius($radius){
    -webkit-border-radius:$radius;
    -o-border-radius:$radius;
    -moz-border-radius:$radius;
    -ms-border-radius:$radius;
    border-radius:$radius;
    background-clip:padding-box; //prevents color from leaking outside border
}

@mixin site-font{
    font-family:'Roboto Slab', serif;
    color:white;
}

@mixin opacity($opacity){
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opactiy=$opacity-ie); //IE8
}

@mixin arrow{
    display: inline-block;
    vertical-align:middle;
    margin-left:16px;
    height:0;
    width:0;
}

@mixin hide-text{
    overflow:hidden;
    text-indent:-9000px;
    display:block;
}

@mixin social-media{
    background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 16px;
}