﻿
//edited
    //changed hover behavior from font color black to site background
    //added mixin logic

.primary-navigation {
    background-color:$siteBackground;
	position:relative;
   > ul {
        list-style-type:none;
        padding-top:4%;
        padding-bottom:3%;
        margin-top:-1%;
       > li {
            @include site-font;
            font-weight:500;
            font-size:x-large;
            display:inline;
            text-transform:uppercase;
            position:relative;
            &.selected:after {
                margin-left: -2%;
                    border-bottom: 3px solid $primary-color;
                    content: "";
                    display:block;
                    position:absolute;
                    top: 0;
                    left: 0;
                    bottom:0;
                    width:100%;
            }
            #logo {
                float: left;
                display: inline-block;
                margin-top: -1%;
            }
            > a {
                text-decoration: none;
                color:$siteColor;
                padding-left:8%;
                &:hover{
                         color:$siteBackground;
                       }
                }
            }
        }
    }
.sub-menu{
    background-color:#2c2e2f;
    visibility:hidden;
    display: flex;
    flex-direction: column;
    position:absolute;
    top:30px;
    left:0px;
    padding: 10px;
    list-style-type:none;
    width: 93%;
    /*height:0;
    opacity:0;
    visibility:hidden;
    -moz-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    -o-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear;*/
    a{
        /*background-position:0 0;
        background-repeat:no-repeat;
        display:block;
        height:16px;
        width:16px; //for social media*/
        text-decoration: none;
        color:$siteColor;
        padding-left:8%;
        &:hover{
            color:$siteBackground;
            /*opacity:0.5;    //for social media, this anchor tag nested in .scoial-media below*/
            }
        }
    }
.has-children{
    > a:after{
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-bottom: 7px solid $primary-color;
        content: "";
        position:relative;
        @include arrow;
        }
    &:hover{
        background-color: #2c2e2f;
        border-top: 2px solid $primary-color;
        width: 100%;
        a:after{
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            border-top: 7px solid $primary-color;
            border-bottom:none;
            @include arrow;
        }
        .sub-menu{
            display: block;
            visibility: visible;
            }
        }  
    }
.social-media{      //try to make these anchors instead of figures
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	height: 100%;
	margin-right: 2%;
	//margin-left: 2%;
	.links {
		margin-left:5px;
		margin-right:5px;
		@include respond-to("small"){
			margin-top: -40px;
			padding-bottom: 10px;
		}
		@include respond-to("medium"){
			margin-top: -75px;
		}
        img{
            height:22px;
        }
    }
}
	
#nav-trigger {
  display: none;
  text-align: center; 
  margin-bottom: 10px;
   span {
    display: inline-block;
    padding: 10px 30px;
    background-color: $siteBackground;
    color: $siteColor;
    cursor: pointer;
    @include site-font;
    text-transform: uppercase; 
   
    span:hover {
      background-color: $siteBackground; }}}

#nav-mobile {
  position: relative;
  display: none; 
   ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: $siteBackground; 
   li {
    display: block;
    padding: 5px 0;
    margin: 0 5px; 
   a {
      @include site-font;
    display: block;
    color: $siteColor;
    padding: 10px 30px;
    text-decoration:none;
  
    a:hover {
      background-color: $siteBackground;
      color: $siteBackground; }}}}}

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
    display: block; }

  .primary-navigation {
    display: none; }

  #nav-mobile {
    display: block; }
  .social-media{
      display:none;
  }
}