﻿
.paragraph {
    background-color: $siteBackground;
    color: $siteColor;
    padding: 80px;
    @include site-font;
    @include respond-to("small"){
        padding:20px;
    }
    img {
        float:left;
        padding: 10px;
    }
    code {
        color: red;
    }
    a {
        text-decoration: none;
            color: $siteColor;
    }
    img{
        float:left;
    }
}
.paragraph code {
    color:red;
}
.small-banner{
        background-image:url(../images/Smallbanner.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        margin-top:-2%;
        background-position:top;
        @include site-font;
        color: $bannerColor;
        padding: 50px;
        h1{
            text-align:center;
                @include respond-to("small"){
                    font-size: 3em;
                }
                @include respond-to("medium"){
                    font-size: 5em;
                }
            }
    }
