body {
  width: 80%;
  margin: auto; }

@media all and (max-width: 900px) {
  body {
    width: 100%; } }
img {
  max-width: 100%;
  height: 100%; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.primary-navigation {
  background-color: #191919;
  position: relative; }
  .primary-navigation > ul {
    list-style-type: none;
    padding-top: 4%;
    padding-bottom: 3%;
    margin-top: -1%; }
    .primary-navigation > ul > li {
      font-family: 'Roboto Slab', serif;
      color: white;
      font-weight: 500;
      font-size: x-large;
      display: inline;
      text-transform: uppercase;
      position: relative; }
      .primary-navigation > ul > li.selected:after {
        margin-left: -2%;
        border-bottom: 3px solid #490808;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%; }
      .primary-navigation > ul > li #logo {
        float: left;
        display: inline-block;
        margin-top: -1%; }
      .primary-navigation > ul > li > a {
        text-decoration: none;
        color: white;
        padding-left: 8%; }
        .primary-navigation > ul > li > a:hover {
          color: #191919; }

.sub-menu {
  background-color: #2c2e2f;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 0px;
  padding: 10px;
  list-style-type: none;
  width: 93%;
  /*height:0;
  opacity:0;
  visibility:hidden;
  -moz-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  -o-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;*/ }
  .sub-menu a {
    /*background-position:0 0;
    background-repeat:no-repeat;
    display:block;
    height:16px;
    width:16px; //for social media*/
    text-decoration: none;
    color: white;
    padding-left: 8%; }
    .sub-menu a:hover {
      color: #191919;
      /*opacity:0.5;    //for social media, this anchor tag nested in .scoial-media below*/ }

.has-children > a:after {
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #490808;
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  height: 0;
  width: 0; }
.has-children:hover {
  background-color: #2c2e2f;
  border-top: 2px solid #490808;
  width: 100%; }
  .has-children:hover a:after {
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 7px solid #490808;
    border-bottom: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    height: 0;
    width: 0; }
  .has-children:hover .sub-menu {
    display: block;
    visibility: visible; }

.social-media {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 100%;
  margin-right: 2%; }
  .social-media .links {
    margin-left: 5px;
    margin-right: 5px; }
    @media only screen and (min-width: 400px) {
      .social-media .links {
        margin-top: -40px;
        padding-bottom: 10px; } }
    @media only screen and (min-width: 1500px) {
      .social-media .links {
        margin-top: -75px; } }
    .social-media .links img {
      height: 22px; }

#nav-trigger {
  display: none;
  text-align: center;
  margin-bottom: 10px; }
  #nav-trigger span {
    display: inline-block;
    padding: 10px 30px;
    background-color: #191919;
    color: white;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-transform: uppercase; }
    #nav-trigger span span:hover {
      background-color: #191919; }

#nav-mobile {
  position: relative;
  display: none; }
  #nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919; }
    #nav-mobile ul li {
      display: block;
      padding: 5px 0;
      margin: 0 5px; }
      #nav-mobile ul li a {
        font-family: 'Roboto Slab', serif;
        color: white;
        display: block;
        color: white;
        padding: 10px 30px;
        text-decoration: none; }
        #nav-mobile ul li a a:hover {
          background-color: #191919;
          color: #191919; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
    display: block; }

  .primary-navigation {
    display: none; }

  #nav-mobile {
    display: block; }

  .social-media {
    display: none; } }
.main {
  background-color: #191919;
  align-content: center;
  text-align: center; }
  .main .banner {
    background-image: url("../images/Banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -2%;
    background-position: top;
    font-family: 'Roboto Slab', serif;
    color: white;
    color: black;
    padding: 180px; }
    @media only screen and (min-width: 400px) {
      .main .banner {
        padding: 20px; } }
    @media only screen and (min-width: 400px) {
      .main .banner h1 {
        font-size: 4em; } }
    @media only screen and (min-width: 1500px) {
      .main .banner h1 {
        font-size: 5em; } }
    .main .banner button {
      color: white;
      border: 1px solid black;
      -webkit-border-radius: 7px;
      -o-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px;
      background-clip: padding-box;
      background-color: #191919;
      margin-top: 30px; }
      .main .banner button:hover {
        background-color: darken #191919, 10%; }

.event {
  background-color: #191919;
  text-align: center;
  color: white;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  color: white;
  padding: 80px; }
  @media only screen and (min-width: 1500px) {
    .event {
      flex-flow: row; } }
  .event .child {
    margin: 5%; }
    .event .child a {
      text-decoration: none;
      color: white;
      font-size: 3em; }
    .event .child p {
      padding: 5px; }

@media all and (max-width: 900px) {
  .event {
    flex-flow: column; }

  .child a {
    font-size: 2em; } }
.paragraph {
  background-color: #191919;
  color: white;
  padding: 80px;
  font-family: 'Roboto Slab', serif;
  color: white; }
  @media only screen and (min-width: 400px) {
    .paragraph {
      padding: 20px; } }
  .paragraph img {
    float: left;
    padding: 10px; }
  .paragraph code {
    color: red; }
  .paragraph a {
    text-decoration: none;
    color: white; }
  .paragraph img {
    float: left; }

.paragraph code {
  color: red; }

.small-banner {
  background-image: url(../images/Smallbanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -2%;
  background-position: top;
  font-family: 'Roboto Slab', serif;
  color: white;
  color: black;
  padding: 50px; }
  .small-banner h1 {
    text-align: center; }
    @media only screen and (min-width: 400px) {
      .small-banner h1 {
        font-size: 3em; } }
    @media only screen and (min-width: 1500px) {
      .small-banner h1 {
        font-size: 5em; } }

.contact p {
  text-align: center;
  font-size: small;
  font: "Roboto Slab", serif;
  padding: 10px; }

/*@import 'partials/_form.scss';*/
footer {
  text-align: center;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  clear: both; }
  footer nav ul li {
    margin-top: -6px;
    font-size: x-small;
    font: "Roboto Slab", serif;
    padding: 10px;
    list-style-type: none;
    display: inline-block; }
    footer nav ul li a {
      text-decoration: none;
      color: black; }
      footer nav ul li a a:hover {
        color: #490808; }

/*# sourceMappingURL=Styles.css.map */
