@charset "utf-8";
/* CSS Document */
body{
    background-color:#000000;
    font-family: Arial, "Times New Roman", sans-serif;
    color:#ffffff;
}

h1  {
    text-align: center;
}

p {
margin: 20px !important;
    text-align:center;
}

#parallax-header { 
height:200px; 
background-color:gray;  
}
 
#parallax {
position:relative; 
overflow:hidden; 
width:653px; 
height:539px;
background-image:url('vector_background.jpg');
    margin-left:auto;
    margin-right: auto;
}

#header { 
margin-bottom:20px; 
}

.parallax-viewport {
position: relative;     /* relative, absolute, fixed */
overflow: hidden;
}

.parallax-layer {
position: absolute;
}

#footer {
    font-size: small;
    text-align: center;
}

.section-viewport {
    position: relative;     /* relative, absolute, fixed */
    overflow: hidden;
}

.section .inner { position:relative;
    overflow:hidden;
    width:653px;
    height:539px;
    background-image:url('vector_background.jpg'); }



#intro{
    background:url(firstBG.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 600px;
    margin: 0 auto;
    padding: 0;
}

#second{
    background: url(secondBG.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#second .bg{
    background: url(Butterflies.png) 50% 0 no-repeat fixed;
    height: 1300px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 900px;
    z-index: 200;
}

#first .bg{
    background: url(Butterflies.png) 50% 0 no-repeat fixed;
    height: 1300px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 900px;

}

#intro .bg{
    background: url(Butterflies.png) 50% 0 no-repeat fixed;
    height: 1300px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 900px;
    z-index: 200;
}

#third .bg{
    background: url(Butterflies.png) 50% 0 no-repeat fixed;
    height: 1300px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 900px;
    z-index: 200;
}

#third{
    background: url(thirdBG.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 650px;
    padding: 100px 0 0 0;
}

#fifth{
    background: #ccc;
    height: 400px;
    margin: 0 auto;
    padding: 40px 0 0 0;
}

#link   {
    text-decoration: none;
    color:#9966ff;
    text-align: center;
    padding-top:20%;
}

#butterfly{
    position:absolute;
    margin-top: 10%;
    margin-left:45%;
    margin-right:auto;
}