﻿body {
    width: 80%;
    margin:auto;
}

@media all and (max-width: 900px) {     //mixins would not work anymore so this was my solution
    body {
        width: 100%;
    }
}

img {
    max-width: 100%;
    height:100%;
}


//helpers
@import 'partials/_extends.scss';
@import 'partials/_mixins.scss';
@import 'partials/_base.scss';

//styles
@import 'partials/_navigation.scss';
@import 'partials/_main.scss';
@import 'partials/_event.scss';
@import 'partials/_paragraph.scss';
@import 'partials/_contact.scss';
/*@import 'partials/_form.scss';*/
@import 'partials/_footer.scss';